GRID_TEMPLATE_PATH=resources/template_grid.png
TEMPLATE_O_PATH=resources/template_o.png
TEMPLATE_X_PATH=resources/template_x.png
TEMPLATE_OK_BUTTON_PATH=resources/ok_button.png
TEMPLATE_EASY_LEVEL_PATH=resources/easy_difficult.png
TEMPLATE_HARD_LEVEL_PATH=resources/hard_difficult.png
ROWS=3
COLS=3
CELL_W=63
CELL_H=63
THRESHOLD=0.8
DEBUG=true
GUI_ENABLED=false
